{% extends 'c_s_app/index.html' %}
{% load static %}

{% block styles_for_currnent_page %}
    {% include 'c_s_app/bases/styles_for_currnent_page.html' %}
{% endblock %}

{% block topbar_center %}
    {% include 'c_s_app/bases/searchbar.html' %}
{% endblock %}

<!-- DataTales Example -->
{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">

            <a href="/car_search" class="btn btn-secondary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                <span class="text">Поиск автомобилей по параметрам</span>
            </a>

            <form method="post" enctype="multipart/form-data" style="display: inline-block; float: right">
                {% csrf_token %}
                <input type="file" name="myfile" multiple required accept=".png, .jpg, .jpeg, .PNG, .JPEG, .JPG">

{#                <a class="btn btn-secondary btn-icon-split">#}
{#                                                        <span class="icon text-white-50">#}
{#                                                            <i class="fas fa-file-image"></i>#}
{#                                                        </span>#}
{#                    <input type="file" name="myfile" multiple required accept=".png, .jpg, .jpeg, .PNG, .JPEG, .JPG">#}
{#                </a>#}






                {# <button type="submit">Upload</button> #}
                <a class="btn btn-secondary btn-icon-split" >
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-download"></i>
                                                        </span>
                    <input type="submit" value="Загрузить">
                </a>




            </form>

        </div>

        <div class="card-body">


            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th style="text-align: center">Фото</th>
{#                        <th>Поколение</th>#}
                    </tr>
                    </thead>

                    <tbody>

                    {% for img in images %}

                        <tr>
{#                            <td>#}
{#                                <a class="myLinkModal" href="#">{{ car.name.name }}</a>#}
{#                                <div class="myModal" style="height: 85%; width:85%; background-color: rgba(255, 250, 250, 0.6)">#}
{#                                    <span class="close myModal__close">x</span>#}
{#                                    <span class="close myModal__close">ₓ</span>#}
{##}
{#                                    <a class="btn btn-secondary btn-icon-split" href="/media/{{ result.car_photo }}" download>#}
{#                                                        <span class="icon text-white-50">#}
{#                                                            <i class="fas fa-download"></i>#}
{#                                                        </span>#}
{#                                        <input type="submit" value="Сохранить">#}
{#                                    </a>#}
{##}
{#                                </div>#}
{#                                <div class="myOverlay"></div>#}
{#                            </td>#}
                            <td style="text-align: center">
                                <a class="myLinkModal" href="#"><img src="{% static '/' %}{{ img }}" style="max-height: 400px; max-width: 800px"></a>

                                <div class="myModal" style="height: 85%; width:85%; background-color: rgba(255, 250, 250, 0.8)">
                                    <p><img src="{% static '/' %}{{ img }}" alt="изображение" style="max-width: 95%; max-height: 520px"></p>
                                    <span class="close myModal__close">x</span>
{#                                    <span class="close myModal__close">ₓ</span>#}

                                </div>
                                <div class="myOverlay"></div>

                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>


        </div>
    </div>
{% endblock %}

{% block js_tables %}
    {% include 'c_s_app/bases/js_plugs.html' %}
{% endblock %}

