{% extends 'c_s_app/index.html' %}

{% block styles_for_currnent_page %}
    {% include 'c_s_app/bases/styles_for_currnent_page.html' %}
{% endblock %}

{% block topbar_center %}
    {% include 'c_s_app/bases/searchbar.html' %}
{% endblock %}

<!-- DataTales Example -->
{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">

            <a href="/car_search" class="btn btn-secondary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                <span class="text">Поиск автомобилей по параметрам</span>
            </a>


            <form method="post">
                {% csrf_token %}
{#                <div class="input-group">#}
                <div>

                    {{ cars_reg.marks.errors }}
{#                    <label for="{{ cars_reg.marks.id_for_label }}"></label>#}
{#                    {{ cars_reg.marks }}#}
                    <select name="marks" id="id_marks">
                        <option value="">-- Марка --</option>
                        {% for mark in marks_list %}
                            <option value="{{ mark.pk }}">{{ mark.name }}</option>
                        {% endfor %}
                    </select>

{#                    {{ cars_reg.models.errors }}#}
{#                    <label for="{{ cars_reg.models.id_for_label }}"></label>#}
{#                    {{ cars_reg.models }}#}
                    <select name="models" id="id_models">
                        <option value="">-- Модель --</option>
                        {% for model in model_objs %}
                            <option value="{{ model.pk }}">{{ model.name }}</option>
                        {% endfor %}
                    </select>

{#                    {{ cars_reg.gens.errors }}#}
{#                    <label for="{{ cars_reg.gens.id_for_label }}"></label>#}
{#                    {{ cars_reg.gens }}#}
                    <select name="gens" id="id_gens">
                        <option value="">-- Поколение --</option>
                        {% for gen in gen_objs %}
                            <option value="{{ gen.pk }}">{{ gen.name }}</option>
                        {% endfor %}
                    </select>


{#                    <div class="input-group-append">#}
                        <button class="btn btn-primary" type="submit"> Найти
                            <i class="fas fa-search fa-sm"></i>
                        </button>
{#                    </div>#}

                </div>
            </form>











        </div>

        <div class="card-body">


            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Марка</th>
                        <th>Модель</th>
                        <th>Поколение</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for car in cars %}
                        <tr>
                            <td>{{ car.pk }}</td>
                            <td>{{ car.model.mark.name }}</td>
                            <td>{{ car.model.name }}</td>
                            <td>{{ car.name.name }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>


        </div>
    </div>
{% endblock %}

{% block js_tables %}
    {% include 'c_s_app/bases/js_plugs.html' %}
{% endblock %}

