{% extends 'c_s_app/index.html' %}

{% block topbar_center %}
    {% include 'c_s_app/bases/searchbar.html' %}
{% endblock %}

                <!-- DataTales Example -->
                {% block content %}
                <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Вопросы и Ответы по системе поиска угнанных автомобилей</h1>
              <!-- Content1 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Логин и пароль</h6>
                </div>
                <div class="card-body">
                  <p>• Как поменять логин?</p>
					<p>Для того, чтобы поменять логин, пожалуйста обратитесь к Администратору Вашей системы. </p>
					<p>• Как поменять пароль?</p>
					<p>Для того, чтобы поменять логин, пожалуйста обратитесь к Администратору Вашей системы.</p>
					<p>• Когда City AI автоматически закрывает сеанс?</p>
					<p>Система автоматически закрывает сеанс через 30 минут</p>
                </div>
              </div>

              <!-- Content2 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Выбор камеры</h6>
                </div>
                <div class="card-body">
                  <p>• Как выбрать камеру для обработки?</p>
					<p>Для начала работы с системой Пользователь должен выбрать необходимые камеры для начала анализа. Существует несколько способов выбора камер для анализа: двойное нажатие, перетаскивание и выделение на карте. </p>
					<p>Двойное нажатие </p>
					<p>С целью выбора камеры необходимо дважды нажать на названии камеры из окна “Выберите камеры для анализа”. Выбранные камеры будут отображаться в окне “Перечень выбранных камер для анализа”. </p>
					<p>Перетаскивание </p>
					<p>С целью выбора камеры необходимо зажать левую кнопку мыши на имени необходимой камере из перечня окна “Выберите камеры для анализа” и перетащить выбранное имя в окно “Перечень выбранных камер для анализа”.</p>
					<p>Выделение на карте </p>
					<p>С целью выбора камеры необходимо выбрать один или несколько иконок со значками камер на карте, при этом зажав левую кнопку мыши. Выбранные камеры отобразятся в окне “Перечень выбранных камер для анализа”.</p>
                  <p>•	Сколько камер можно выбрать одновременно?</p>
					<p>Пользователь одновременно может выбрать до 20 камер. При выборе большего количества камер, обработаны будут только лишь первые 20 камер в окне “Перечень выбранных камер для анализа”.</p>
                  <p>•	Зачем нужен период поиска?</p>
					<p>Период поиска позволяет осуществить поиск в определенных временных рамках. Это необходимо с целью оптимизации процесса поиска (ведь, обычно, есть хотя бы ориентировочное представление о времени, необходимом для поиска автомобиля). </p>
					<p>Если же время неопределенно (к примеру, автомобиль был угнан ночью с 21.00  до 6.00 утра), то рекомендуется осуществить несколько поисков и разбить каждый по 15-30 минут. Таким образом скорость обработки будет значительно выше.  </p>
                </div>
              </div>
              <!-- Content3 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Результаты обработки</h6>
                </div>
                <div class="card-body">
                  <p>•	Какая задача страницы “Результаты обработки”?</p>
					<p>На странице “Результаты обработки” выводятся результаты обработки видео потоков с выбранных камер. На этой странице выводятся ВСЕ автомобили, которые были найдены на  выбранной камере за заданный временной период. На этой странице можно также отсортировать результаты, чтобы потом на следующей странице “Результаты поиска” осуществить поиск по определенному параметру.
С другой стороны, данная страница позволяет начать работу по идентификации автомобиля, если детали отсутствуют.
					</p>
{#                </div>#}
                  <p>•	Что такое “Номер обработки”?</p>
					<p>“Номер обработки” - это параметр, который используется системой для хранения результатов обработки. Каждый Номер обработки соответствует определенному анализу выбранной камеры в рамках определенного периода.</p>
                  <p>• Как выбрать камеру для обработки?</p>
					<p>“Прогресс” позволяет понимать уровень обработки. По мере выполнения обработки по выбранным камерам в рамках определенного периода, Прогресс изменяет значение от 0% до 100%. </p>
                  <p>•	Что значит "Поколение автомобиля”?</p>
					<p>Поклонение автомобиля соответствует годам его выпуска. Разные автомобильные производители выпускают и обновляют свои модели автомобилей в разное время. Учитывая, что новые модели выпускаются с разной регулярностью, сказать, что второе поколение первого автомобиля соответствует второму поколению другого автомобиля по  годам производства крайне неправильно. Поэтому мы подготовили таблицу с описанием поколений автомобилей. Таблица находится здесь: ссылка.  </p>
                  <p>•	Что значит “Вероятность”?</p>
					<p>В процессе обработки видео и, в частности, определения автомобиля, имеется параметр вероятности того, какая марка и модель максимально соответствует выявленному автомобилю. Этот параметр может быть от 50% и до 100%. Чем выше параметр “Вероятность” тем выше система считает, что автомобиль соответствует заданным критериям.</p>
					<p>Нужно понимать, что так как система физически неспособна увидеть все-все автомобили (новые автомобили постоянно выпускаются, угол  наклона камеры может быть изменен, погодные условия могут быть плохими и объекты будут плохо различимыми) - система будет давать погрешность. Однако, со временем, по мере накопления данных, система будет способна узнавать абсолютное количество автомобилей на дорогах и уровень погрешности будет минимизирован. </p>
					<p>В базе данных доступно два параметра “Вероятность”. Существует вероятность по марке, модели и поколению, и отдельная вероятность по цвету. Уровень вероятности по марке, модели и поколению доступна в столбце справа от столбца “Поколение”. Уровень вероятности по цвету доступна в столбце справа от столбца “Цвет”. </p>
              </div>
              </div>

              <!-- Content2 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Результаты поиска</h6>
                </div>
                <div class="card-body">
                  <p>•	По каким параметрам происходит поиск автомобиля?</p>
					<p>Поиск автомобиля происходит по параметрам: марка, модель, поколение, цвет и номер автомобиля. </p>
                  <p>•	Можно ли найти мотоцикл или велосипед?</p>
					<p>В текущей версии (City AI 1.0) программы функционал по поиску мотоциклов и велосипедов ограничен. Однако он будет реализован в версии City AI 1.1.</p>
                  <p>•	Что делать, если номер автомобиля неизвестен?</p>
					<p>В случае, если номер автомобиля неизвестен существует возможность найти его по марке, модели, поколению и цвету. Даже когда автомобиль находится “далеко” от камеры, его можно распознать, если вероятность выше 50% и его размер больше, чем 64х64 пикселя. </p>
                  <p>•	Что делать, если марка автомобиля неизвестна?</p>
					<p>Если марка автомобиля неизвестна - можно сделать поиск по параметру цвета или номера, либо попробовать найти разыскиваемый автомобиль вручную путем перебора результатов обработки на вкладке “Результаты обработки”. </p>
					<p>Важно: без выбора марки автомобиля позиции модели и поколения будут неактивны. </p>
                  <p>•	Что делать, если модель автомобиля неизвестна?</p>
					<p>Если модель автомобиля неизвестна, существует возможность его поиска по марке, или номеру.</p>
					<p>Важно: без выбора марки и модели автомобиля позиция поколения будет недоступна. </p>
				<p>•	Что делать, если поколение автомобиля неизвестно?</p>
					<p>Если поколение автомобиля неизвестно, существует возможность его поиска по остальным параметрам. </p>
				<p>•	Что делать, если цвет автомобиля неизвестен?</p>
					<p>Если цвет автомобиля неизвестен - возможно выбрать в базе данных несколько цветов или оставить параметр цвета без выбора. </p>
				<p>•	Что значит “Подобные автомобили”?</p>
					<p>Многие автопроизводители сегодня совместно разрабатывают автомобили, привнося в готовый продукт свои сильные стороны. Это позволяет выпускать более качественные автомобили и снижать стоимость на разработку и производство, что позволяет держать цены на достаточно низком уровне. </p>
					<p>выбор данной опции позволит также просмотреть похожие автомобили. К примеру, Renault Kangoo 1-го поколения напоминает Peugeot Partner 1-го поколения (после фейслифтинга), а также Fiat Doblo 1-го поколения (также после фейслифтинга). Выбирая данную опцию, Пользователь будет искать все похожие автомобили на разыскиваемый. </p>
				<p>•	Что значит “Схожие номера”</p>
					<p>Возможность поиска номера ограничена дистанцией автомобиля до камеры, а также видимостью. Поэтому данная опция позволяет искать номера, которые схожи с разыскиваемым номером. </p>
				</div>
              </div>

              <!-- Content4 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Фото и видео</h6>
                </div>
                <div class="card-body">
                  <p>•	Как найти фото автомобиля?</p>
					<p>Чтобы найти фото автомобиля нужно нажать на ссылку в столбце “Фото” соответствующей записи на странице “Результаты обработки” или “Результаты поиска”. Фотография автомобиля, на которой он был зафиксирован будет выведена на экран. </p>
				<p>•	Как найти видео автомобиля?</p>
					<p>Чтобы найти видео автомобиля нужно нажать на ссылку в столбце “Видео” соответствующей записи на странице “Результаты обработки” или “Результаты поиска”. Видеоролик с зафиксированным автомобилем будет выведен на экран. Длительность видео-ролика составляет 15 секунд</p>
				<p>•	Можно ли сохранить фото автомобиля?</p>
					<p>В данной версии системы отсутствует возможность сохранения фотографии автомобиля на компьютер.</p>
				<p>•	Можно ли сохранить видео автомобиля?</p>
					<p>В данной версии системы отсутствует возможность сохранения видео автомобиля на компьютер.</p>
				<p>•	Как долго видео и фото хранятся в архиве программы?</p>
					<p>Файлы в архиве хранятся в течение 30 дней. </p>
                </div>
              </div>

              <!-- Content5 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">База данных</h6>
                </div>
                <div class="card-body">
                  <p>•	Чем отличается база в “Результаты обработки” от “Результаты поиска”?</p>
					<p>"Результаты обработки” - это база данных с найденными всеми автомобилями на выбранных камерах, в то время как “Результаты поиска” представляет собой функцию поиска среди обработанных результатов. Напрямую с камерой “Результаты поиска” не взаимодействуют. </p>
				<p>•	Как можно работать с базой данных?</p>
					<p>С базой данных на вкладках “Результаты обработки” и “Результаты поиска” можно работать так же, как и с другими привычными базами данных, в том числе, к примеру, фильтровать по каждой отдельной колонке. </p>
				<p>•	Как поделиться “Результатами обработки” или “Результатами поиска”?</p>
					<p>Для того, чтобы поделиться “Результатами обработки” или “Результатами поиска” необходимо просто ввести адрес получателя и нажать Enter на клавиатуре. Письмо будет автоматически создано и отправлено. </p>
				<p>•	Как экспортировать “Результаты обработки” или “Результаты поиска”?</p>
					<p>Для экспорта “Результатов обработки” или “Результатов поиска” нажмите соответствующую иконку внизу экрана. Вы можете экспортировать либо в формате Microsoft Excel, либо в PDF. </p>
				<p>•	Как распечатать “Результаты обработки” или “Результаты поиска”?</p>
					<p>Для печати “Результатов обработки” или “Результатов поиска” нажмите соответсвующую иконку внизу экрана. </p>
                </div>
              </div>

              <!-- Content6 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Поиск</h6>
                </div>
                <div class="card-body">
                 <p>•	Как найти автомобиль?</p>
                  <p>В поиске автомобиля основной инструмент - скорость. Для того, чтобы как можно быстрее найти автомобиль, лучше всего выбрать одну или несколько камер за максимально вероятный период времени, получить результаты и уже на основе их (к примеру, знание - был ли автомобиль в выбранном месте) принимать решение об анализе других камер. Это позволит более точно работать с системой и достичь лучших результатов. </p>
                 <p>•	Как ускорить поиск?</p>
                  <p>Поиск можно ускорить благодаря следующему: </p>
                  <p>A.	Меньшее выбранных камер</p>
                  <p>B.	Меньший период</p>
                  <p>C.	Меньшее количество заданных параметров. Здесь нужно уточнить, если качество картинки хорошее - на скорость дополнительные параметры не повлияют. Однако, если картинка не самого хорошего качества, либо камера находится под неправильным углом - тогда это может помочь. </p>
                  <p>•	Как мне найти мой прошлый поиск?</p>
                  <p>•	Можно ли мне делать несколько поисков параллельно?</p>
                </div>
              </div>

              <!-- Content7 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Права доступа</h6>
                </div>
                <div class="card-body">
                 <p>•	Что дают мне права “Оператора”?</p>
                  <p>Оператор может работать с системой, и получать все имеющиеся функции.</p>
                 <p>•	Что дают мне права “Администратора”?</p>
                  <p>Администратор может добавлять Операторов в систему или убирать из нее. </p>
                 <p>•	Как мне получись право на доступ к продукту?</p>
                  <p>Если Вы уже используете City AI - обратитесь к своему Администратору. Если нет - обратитесь к компании-разработчику продукта - Discoperi - по электронной почте на адрес: general@discoperi.com </p>
                </div>
              </div>

              <!-- Content8 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">О продукте</h6>
                </div>
                <div class="card-body">
                 <p>•	Что такое City AI?</p>
                  	<p>City AI - это серия решений, разработанных Discoperi с целью решения ключевых проблем транспортной инфраструктуры, эффективности потока и безопасности на дороги. Детальней узнать о продуктах Discoperi можно по ссылке: https://discoperi.com</p>
                 <p>•	Кто является разработчиком продукта?</p>
                  	<p>Разработчиком продукта является Discoperi - международная компания, специализирующаяся на разработке продуктов на основе машинного обучения и искусственного интеллекта с целью решения ключевых проблем транспортной инфраструктуры, эффективности потока и безопасности на дороги. </p>
                 <p>•	Как мне купить продукт City AI?</p>
                 	<p>Пожалуйста обратитесь напрямую к Discoperi через веб-сайт компании https://discoperi.com или через официальных дистрибьюторов продукции компании. </p>
                 <p>•	Как мне получить больше информации о City AI?</p>
                 	<p>Пожалуйста напишите письмо на электронный адрес: general@discoperi.com </p>
                </div>
              </div>
                {% endblock %}
