{% extends 'c_s_app/index.html' %}

{% block topbar_center %}
    {% include 'c_s_app/bases/searchbar.html' %}
{% endblock %}

<!-- DataTales Example -->
{% block content %}
    <!-- Page Heading -->
    <div class="card shadow mb-4">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Задайте вопрос</h1>
            </div>

            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group">

                    <a>{{ success }}</a>

                    {{ form.text.errors }}
                    <label for="{{ form.text.id_for_label }}"></label>
                    {{ form.text }}

                    <br>
                    <br>
                    <input type="submit" value="Отправить вопрос" class="btn btn-primary btn-user btn-block">
                </div>

            </form>
        </div>
    </div>
{% endblock %}
