{% extends 'c_s_app/index.html' %}

{% block topbar_center %}
    {% include 'c_s_app/bases/searchbar.html' %}
{% endblock %}

<!-- Begin Page Content -->

{% block content %}
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <a href="/car_search" class="btn btn-secondary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                        <span class="text">Поиск автомобилей по параметрам</span>
                    </a>
                </div>
            </div>
        </div>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Результаты запросов</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID запроса</th>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Камеры</th>
                            <th>Начало поиска</th>
                            <th>Конец поиска</th>
                            <th>Прогресс обработки</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td id="request_id"><a href="/request_result/{{ cameras_request_obj.pk }}">{{ cameras_request_obj.pk }}</a></td>
                            <td>{{ cameras_request_obj.request_time|date:"d.m.Y" }}</td>
                            <td>{{ cameras_request_obj.request_time|date:"h:i:s" }}</td>
                            <td>
                                {% for cam in cameras_request_obj.cameras.all %}
                                    <a>{{ cam.address }}</a><br>
                                {% endfor %}
                            </td>
                            <td>{{ cameras_request_obj.start|date:"d.m.Y h:i" }}</td>
                            <td>{{ cameras_request_obj.finish|date:"d.m.Y h:i" }}</td>
                            <td id="progress">{{ progress }} %</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_tables %}
{% endblock %}
