{% extends 'c_s_app/index.html' %}

{% block topbar_center %}
    {% include 'c_s_app/bases/searchbar.html' %}
{% endblock %}

<!-- DataTales Example -->
{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">

            <a href="/car_search" class="btn btn-secondary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                <span class="text">Поиск автомобилей по параметрам</span>
            </a>

        </div>

        <div class="card-body">


            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID запроса</th>
                        <th>Дата</th>
                        <th>Время</th>
                        <th>Камеры</th>
                        <th>Начало поиска</th>
                        <th>Конец поиска</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for request in request_objs %}
                        <tr>
                            <td id="request_id"><a href="/request_result/{{ request.pk }}">{{ request.pk }}</a></td>
                            <td>{{ request.request_time|date:"d.m.Y" }}</td>
                            <td>{{ request.request_time|date:"h:i:s" }}</td>
                            <td>
                                {% for cam in request.cameras.all %}
                                    <a>{{ cam.address }}</a><br>
                                {% endfor %}
                            </td>
                            <td>{{ request.start|date:"d.m.Y h:i" }}</td>
                            <td>{{ request.finish|date:"d.m.Y h:i" }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>


        </div>
    </div>
{% endblock %}

